<div class="week">
        <div class="weekday monday">
          Monday
        </div>
        <div class="weekday tuesday">
          Tuesday
        </div>
        <div class="weekday wednesday">
          Wednesday
        </div>
        <div class="weekday thursday">
          Thursday
        </div>
        <div class="weekday friday">
          Friday
        </div>
        <div class="weekday saturday">
          Saturday
        </div>
        <div class="weekday sunday">
          Sunday
        </div>
</div>