.container {
    display: flex;
}

.nav {
    width: 20vw;
    height: 100vh;
    background-color: #6E8DBF;
    z-index: 2;
}

.month {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{ 
    width: 80vw;
    height: 10vh;
    text-align: center;
    background-color: #EAB679;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 90vh;
    background-color: #E2CFA5;
}

.row-0 {
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
}

.day {
    width: 11.5vw;
    height: 4vh;
    text-align: center;
    background-color: rgb(139, 160, 194);
}
.day:nth-child(odd) {
    opacity: 95%;
}

.row {
    display: flex;

}

.box {
    width: 11.4vw;
    height: 12.2vh;
    border-bottom: 1px solid white;
}

.box:not(:last-child) {
    border-right: 1px solid white;
}