<div class="container">
    <div class="nav">
        <app-user></app-user>
        <div class="nav-right">
            <app-options></app-options>              
            <app-weather></app-weather>
        </div>
    </div>

    <div class="month">
        <div class="header">
            <h4>Month</h4>
        </div>
    
        <div class="main">
            <div class="row-0">
                <div class="day day-0">Sunday</div>
                <div class="day day-1">Monday</div>
                <div class="day day-2">Tuesday</div>
                <div class="day day-3">Wednesday</div>
                <div class="day day-4">Thursday</div>
                <div class="day day-5">Friday</div>
                <div class="day day-6">Saturday</div>
            </div>

            <div class="row row-1">
                <div class="box day-0"></div>
                <div class="box day-1"></div>
                <div class="box day-2"></div>
                <div class="box day-3"></div>
                <div class="box day-4"></div>
                <div class="box day-5"></div>
                <div class="box day-6"></div>
            </div>

            <div class="row row-2">
                
            </div>

            <div class="row row-3">
                
            </div>

            <div class="row row-4">

            </div>
    
            <div class="row row-5">
                    
            </div>
    
            <div class="row row-6">
                    
            </div>
    
            <div class="row row-7">
                    
            </div>
        </div>
    </div>

</div>