<div class="options">
          <router-outlet></router-outlet>
          <a routerLink="/"><button class="primary-button" id="home">Home</button></a>
          <a routerLink="/login"><button class="primary-button" id="login" *ngIf="isAuthenticated" (click)="onLogout()">Logout</button></a>
          <a routerLink="/login"><button class="primary-button" id="login" *ngIf="!isAuthenticated">Login</button></a>
          <a routerLink="/month"><button class="primary-button" id="month">Month</button></a>
          <!--
          <form #postForm1="ngForm" (ngSubmit)="onUpdateMode();" *ngIf="isAuthenticated===true">
            <button type="submit" class="primary-button" (click)="reloadPage()">Switch theme</button> 
          </form>
          -->
</div>