.events {
    background-color: #E2CFA5;
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-secondary {
    display: flex;
    width: 40vw;
    height: 5vh;
}

#inputs {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 40vw;
    height: 3vh;
}

.list {
    height: 52vh;
    width: 40vw;
}

form {
    margin: 0;
    width: 40vw;
    height: 3vh;
}

#tasksButton {
    height: 3;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2vw 0 1.2vw;
    height: 3vh;
}

#input1 {
    width: 20vw;
}

#displayEvent {
    display: flex;
    justify-content: space-between;
}

#start-time, #end-time{
    color: grey;
    font-size: .5vw;
    width: 1.5vw;
    border: none;
}

@media screen and (max-width: 900px) {
    .events {
        width: 50vw;
        height: 60vh;
    }

}

#start-time, #end-time {
    height: 2vh;
    width: 3vw;
    font-size: 1.3vh;
    background-color: #E8E5DC;
    border-bottom: 1px solid grey;
    text-align: center;
}
