<div class="container">
    <div class="nav" [className]="currentMode==='dark' ? 'dark-mode-nav' : 'nav'">
        <app-user></app-user>
        <div class="nav-right">
            <router-outlet></router-outlet>
            <app-options></app-options>   
          <app-weather></app-weather>
        </div>
    </div>
    <div class="login">
        <div class="header" [className]="currentMode==='dark' ? 'dark-mode-header' : 'header'">
            <h4>Log In</h4>
        </div>

        <div class="main" [className]="currentMode==='dark' ? 'dark-mode-main' : 'main'">
            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
            </div>
            <div *ngIf="isLoading">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <form #authForm="ngForm" class="forms" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input 
                            type="email" 
                            id="email" 
                            class="form-controls" 
                            ngModel 
                            name="email"
                            required
                            email
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>                            
                        <input 
                            type="password" 
                            id="password" 
                            class="form-controls"
                            ngModel 
                            name="password"
                            required
                            minlength="6"
                            password
                        />
                    </div>
            </div>
            <div class="buttons">
                <button 
                    id="loginButton" 
                    type="submit" 
                    [disabled]="!authForm.valid"
                >{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
                <button id="switchButton" (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
            </div>
        </form>
        </div>
    </div>
</div>