<div class="login">
    <div class="header" [className]="currentMode==='dark' ? 'dark-mode-header' : 'header'">
        <h4>Log In</h4>
    </div>

    <div class="main" [className]="currentMode==='dark' ? 'dark-mode-main' : 'main'">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" class="forms" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div style="padding-bottom:20px;">
                <div class="form-group" style="padding-bottom:7px">
                    <label for="email">E-Mail</label>
                    <input
                        type="email"
                        id="email"
                        class="form-controls"
                        ngModel
                        name="email"
                        required
                        email
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        class="form-controls"
                        ngModel
                        name="password"
                        required
                        minlength="6"
                        password
                    />
                </div>
        </div>
        <div class="buttons">
            <button
                id="loginButton"
                type="submit"
                [disabled]="!authForm.valid"
            >{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>&nbsp;&nbsp;&nbsp;
            <button id="switchButton" (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
        </div>
    </form>
    </div>
</div>
