<div class="container">
    <div class="nav">
        <app-user></app-user>
        <div class="nav-right">
            <div class="options">
                <a routerLink="/"><button class="primary-button" id="home">Home</button></a>
                <a routerLink="/login"><button class="primary-button" id="login">Login</button></a>
                <a routerLink="/month"><button class="primary-button" id="month">Month</button></a>
            </div>           
          <app-weather></app-weather>
        </div>
    </div>
    <div class="login">
        <div class="header">
            <h4>Log In</h4>
        </div>

        <div class="main">
            <p>Username</p> <input type="text">
            <p>Password</p> <input type="text">
            <button id="eventsButton">Login</button>
        </div>
    </div>
</div>