.tasks {
    background-color: #E8E5DC;
    width: 40vw;
    height: 60vh;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw 0 1vw;
    height: 3vh;
}

.task-name {
    width: 70%;
}
.functions {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    .tasks {
        width: 50vw;
        height: 60vh;
    }
}