.tasks {
    background-color: #E8E5DC;
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-secondary {
    display: flex;
    width: 40vw;
    height: 5vh;
}
#inputs {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 40vw;
    height: 3vh;
}
.list {
    height: 52vh;
    width: 40vw;
}
form {
    margin: 0;
    width: 40vw;
    height: 3vh;
}

#tasksButton {
    height: 3;
}


li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2vw 0 1.2vw;
    height: 3vh;
} 

#title {
    height: 2.5vh;
    width: 20vw;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    text-align: left;
    font-size: 2vh;
    color: #5E545C;
}

.task-li {
    width: 70%;
    font-size: 1vw;
    color: black;
}

.functions {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    .tasks {
        width: 50vw;
        height: 60vh;
    }
}