<div class="container">

  <div class="nav">

    <div class="user">
        <div class="picture">
          <img src="https://images.unsplash.com/photo-1548707519-f5221b5a5fd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2165&q=80" alt="" id="avatar">
        </div>
        <div class="username">
            Username
        </div>
    </div>

    <div class="nav-right">
      <div class="options">
        <a routerLink="/"><button class="primary-button">Home</button></a>
        <a routerLink="/login"><button class="primary-button">Login</button></a>
        <a routerLink="/month"><button class="primary-button">Month</button></a>
      </div>
      <div class="weather">
          <div class="city">  
              <form #postForm="ngForm" (ngSubmit)="fetchWeather(postForm.value);">
                  <input
                      #userCity
                      type="text"
                      ngModel
                      name="userCity"
                      placeholder="get weather in... city"
                      onfocus="this.value='', this.placeholder=''"
                      onblur="this.placeholder = 'get weather in... city'"
                      autocomplete="off"
                  />
                  <button type = "submit">Enter</button>
              </form>
          </div>
          <div class="weatherCity">
              <h3 id="weatherCity">{{ cityName }}</h3>
          </div>
          <div id="weatherDescription">{{description}}</div>
          <div id="weatherTemperature">{{temp}}</div>
          <div class="icon">
              <img id="weatherIcon" src={{icon}} alt="">
          </div>
      </div>
    </div>

  </div>

  <div class="main">
    <div class="main-date">
      <h4 id="day">{{ calendarService.getTodayDate() | date: 'EEEE' }}, </h4>
      &nbsp;
      <h4 id="date">{{ calendarService.getTodayDate() | date }}</h4>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
