.main-date {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #E8E5DC;
}

@media screen and (max-width: 900px) {
    .main-date {
        width: 100vw;
        height: 5vh;
    }
}