<div class="container">
    <div class="nav">
      <app-user></app-user>
      <div class="nav-right">
        <div class="options">
          <a routerLink="/"><button class="primary-button" id="home">Home</button></a>
          <a routerLink="/login"><button class="primary-button" id="login">Login</button></a>
          <a routerLink="/month"><button class="primary-button" id="month">Month</button></a>
        </div>
        <app-weather></app-weather>
      </div>
  </div>
    <div class="main">
      <app-date></app-date>
      
      <div class="main-events">
        <app-main></app-main>
      </div>
      <!--
      <div class="main-events">
       <app-events></app-events>
        <app-tasks></app-tasks>
      </div>
      <app-week></app-week>
      -->
    </div>
</div>