.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
    
.nav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-image: url(../../../../Images/black-1.jpg);
    background-size: cover;
    z-index: 2;
}


#home {
    background-color: #E2CFA5;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #505050;
}
    
.main-events {
    display: flex;
    flex-direction: row;
    color: grey;
} 

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 10vh;
    }
    .nav-right {
        width: 70vw;
        display: flex;
        flex-direction: column;
    }
}